/**********************
 * Hauptfarben:
 * THM Grün         =   #80BA24
 * THM Grau         =   #4A5C66
 * 
 * Zusatzfarben:
 * Rot 7427         =   #B80040
 * Gelb 130         =   #FFB300
 * Hellblau 306     =   #40FFED
 * Dunkelblau 280   =   #003BD1
 * 
 * Schriftarten:
 * Arial Regular
 * Arial Bold
 * 
 ******************/

 body{
     margin: 0;
 }

 #container{
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .rightanswer{
    background-color : #00FF00 !important;   
 }

 .wronganswer{
    background-color : #FF0000 !important;
 }

 .otheranswer{
    background-color : #FFFF00 !important;
 }

 #startPage{
    background-color: #80BA24;    
    position: relative;
 }

 /*
  * Gestaltung der Startpage 
  */
 #startContent{
    color: #FFFFFF;
    font-family: Arial;
    font-size: xx-large;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;   
 }

 .ui-panel-inner {
    padding:0px;
 }
 .ui-controlgroup {
    margin:0;
 }
